<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155573283200-bo8f6agv919bv4es3aoappoghc7abb0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155573283200-bo8f6agv919bv4es3aoappoghc7abb0c</string>
	<key>API_KEY</key>
	<string>AIzaSyAptAqh60XUk0KSzhCTsG4_lS1PmJl8YW4</string>
	<key>GCM_SENDER_ID</key>
	<string>155573283200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moonuniverse.moonblink</string>
	<key>PROJECT_ID</key>
	<string>moonblink</string>
	<key>STORAGE_BUCKET</key>
	<string>moonblink.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:155573283200:ios:153703000de520e57f7965</string>
	<key>DATABASE_URL</key>
	<string>https://moonblink.firebaseio.com</string>
</dict>
</plist>
