<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.moonuniverse.moonblink.ios</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Moon Go</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.155573283200-8rp4mbkkeg1igd83saeqbjicikbjv7gp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb217943735875327</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>217943735875327</string>
	<key>FacebookDisplayName</key>
	<string>moonblink</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-2553224590005557~4787287702</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>This allows us to show your photos and albums within the app so you can easily choose and upload them conveniently.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app uses the calendars to show current date and time.</string>
	<key>NSCameraUsageDescription</key>
	<string>This allows use to use your device camera to take photos and videos from our app.</string>
	<key>NSContactsUsageDescription</key>
	<string>This allows us to track people you know. So we can notify you that your friends or family is using the same app.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This allows us to track your location even when the app is in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This allows us to track your location when the app is using.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>To record your voice using your device microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>This app uses the devices's acclerometer to measure performance.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This allows us to show your photos and albums within the app so you can easily choose and upload them conveniently.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This allows us to recognize your speech and voice.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>kTCCServiceMediaLibrary</key>
	<string>This allows us to play voice message which is used in chat.</string>
</dict>
</plist>
